/TelegramJapaneseLearningBot/TelegramJapaneseLearningBot/bin
/TelegramJapaneseLearningBot/TelegramJapaneseLearningBot/obj
/TelegramJapaneseLearningBot/.vs
/TelegramJapaneseLearningBot/.idea
/TelegramJapaneseLearningBot/TelegramJapaneseLearningBot/appsettings.json
